App.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="orgAPP">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta" type="metatype"/>
                <xs:element name="func" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="metatype">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="link" type="xs:anyURI" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>